@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");


@tailwind base;
@tailwind components;
@tailwind utilities;

/* 

body {
    @apply font-p
} */

nav {
    @apply p-4 flex-col md:flex-row
}

nav, nav div {
    @apply flex  items-center gap-8 justify-between
}

nav form {
    @apply bg-[#F1F1F1] flex items-center p-2 gap-2 text-black w-[300px] rounded
}

nav form input {
    @apply bg-none bg-transparent text-sm text-black w-full border-none outline-none
}

.banner {
    @apply h-[60vh] md:h-[75vh] lg:h-[100vh] bg-[url("~/assets/images/banner.png")] bg-no-repeat rounded-3xl flex items-center bg-cover overflow-hidden relative
}

.banner p {
    @apply text-base text-justify leading-7
}

.hero-text {
    @apply p-4 md:p-8 flex items-start flex-col justify-center lg:p-16 h-[75%] lg:h-auto w-full md:w-3/4 lg:w-1/2 bg-white bg-opacity-40 absolute text-[#1B4B66] -right-10 rounded-3xl backdrop-blur
} 

.hero-text h1 {
    @apply text-[40px] md:text-[45px] lg:text-[60px] font-bold
}

.hero-text p {
    @apply text-[28px] my-4 lg:my-8 font-medium
}

.hero-text button {
    @apply bg-[#1B4B66] text-white rounded-xl py-2 px-8 text-[16px]
}

.arrival {
    @apply p-4 lg:p-8
}

.arrival .top {
    @apply flex justify-between items-center
}

.arrival .top h2 {
    @apply text-[34px] font-semibold
}

.arrival .top p {
    @apply text-[14px] font-semibold text-[#1B4B66]
}

.product {
    @apply w-[46vw] md:w-[31%] lg:w-[23%]
}

.product img {
    @apply w-full rounded h-[200px] md:h-[250px] lg:h-[300px]
}

.product p {
    @apply text-[14px] text-[#626262] mb-2
}

button.add-to-cart {
    @apply w-full py-4 bg-[#1B4B66] text-white mt-2 rounded
}

.product h4 {
    @apply font-bold
}

.product .price-favorite {
    @apply flex justify-between items-center my-2 text-[16px] font-medium
}

.product-container {
    @apply inline-flex md:flex gap-4 lg:gap-8 mt-8
}

.handpick {
    @apply bg-[#1B4B66] p-4 lg:p-8
}

.handpick h2 {
    @apply text-[34px] font-bold mb-8 text-white
}

.handpick .category {
    @apply flex flex-wrap gap-4 lg:gap-8
}

.handpick .category div {
    @apply w-[47%] lg:w-[23%] relative
}

.handpick .category div img {
    @apply w-full h-full
}

.handpick .category div h4 {
    @apply absolute bottom-0 p-2 md:p-4 bg-[rgba(0,0,0,0.5)] w-full text-[18px] md:text-[24px] text-white font-bold
}

.brands {
    @apply p-4 md:p-8
}

.brands h2 {
   @apply text-[34px] font-bold mb-8
}

.wrapper::-webkit-scrollbar {
    display: none;
}

.wrapper {
    scrollbar-width: none;
    -ms-overflow-style: none;
    @apply overflow-x-scroll
}

.brands .brand-container {
    @apply inline-flex gap-2  lg:flex justify-between items-center
}

.brands .banner-2 {
    @apply my-8 w-full
}

.cta {
    @apply flex gap-2 md:gap-4 lg:gap-6
}

.cta img {
    @apply w-[48%]
}

footer {
    @apply p-4 md:p-8 lg:p-16 bg-[#1B4B66] flex gap-4 flex-col md:flex-row justify-between items-start text-[#B6B6B6] 
}

footer div {
    @apply w-full md:w-1/2
}

footer .links {
    @apply flex flex-col md:flex-row gap-4 justify-between text-[16px]
}

footer .socials {
    @apply  flex flex-col justify-start md:justify-end items-start md:items-end text-right
}

footer .socials section {
    @apply flex gap-4
}

footer .links h6 {
    @apply text-white mb-4
}

footer .links li {
    @apply mb-2
}

p.location {
    @apply flex items-center gap-2 text-white my-4
}

.store {
    @apply p-2 md:p-4 lg:p-8
}

.store h1, .cart h1 {
    @apply text-[34px] font-bold my-8
}

.store-container {
    @apply flex flex-wrap gap-2 md:gap-4 lg:gap-8
}

.store .pagination {
    @apply mt-12 flex gap-4 md:gap-8 justify-center items-center
}

.store .pagination button {
    @apply py-4 px-8 text-white bg-[#1B4B66]
}

.store .pagination button:first-child {
    @apply rounded-l-lg
}

.store .pagination button:last-child {
    @apply rounded-r-lg
}

.cart {
    @apply p-8
}